# STEP 0: INI FILE CONFIGURATION

In [2]:
!pip install colab-env -qU
import colab_env

In [3]:
from colab_env import envvar_handler

In [4]:
envvar_handler.add_env("ini","/content/gdrive/MyDrive/FEATURE TOOLS FILES/CUS_CHURN_FT_XG.ini")

In [5]:
import os
ini1=os.environ['ini1']

In [6]:
import configparser

import os

vAR_Config = configparser.ConfigParser(allow_no_value=True)

vAR_INI_FILE_PATH = ini1

vAR_INI_FILE_PATH

vAR_Config.read(vAR_INI_FILE_PATH)

vAR_Data = vAR_Config.sections()

vAR_Config.sections()

vAR_Train_Data = vAR_Config['FILE PATH']['TRAINING_DATA_CL']

vAR_Training_Data_Excel_Worsheet = vAR_Config['FILE PATH']['TRAINING_DATA_EXCEL_WORKSHEET']
print(vAR_Training_Data_Excel_Worsheet)

vAR_Train_Data_CUS = vAR_Config['FILE PATH']['TRAINING_DATA_CUS']

vAR_Training_Data_Excel_Worsheet_CUS  = vAR_Config['FILE PATH']['TRAINING_DATA_EXCEL_WORKSHEET_CUS']
print(vAR_Training_Data_Excel_Worsheet_CUS)

vAR_Training_Data_CBP = vAR_Config['FILE PATH']['TRAINING_DATA_CBP']

vAR_Training_Data_Excel_Worsheet_CBP = vAR_Config['FILE PATH']['TRAINING_DATA_EXCEL_WORKSHEET_CBP']
print(vAR_Training_Data_Excel_Worsheet_CBP)

vAR_Training_Data_CPP = vAR_Config['FILE PATH']['TRAINING_DATA_CPP']

vAR_Training_Data_Excel_Worsheet_CPP = vAR_Config['FILE PATH']['TRAINING_DATA_EXCEL_WORKSHEET_CPP']
print(vAR_Training_Data_Excel_Worsheet_CPP)

vAR_Training_Data_CSP = vAR_Config['FILE PATH']['TRAINING_DATA_CSP']

vAR_Training_Data_Excel_Worsheet_CSP = vAR_Config['FILE PATH']['TRAINING_DATA_EXCEL_WORKSHEET_CSP']
print(vAR_Training_Data_Excel_Worsheet_CSP)

vAR_Training_Data_CSQ = vAR_Config['FILE PATH']['TRAINING_DATA_CSQ']

vAR_Training_Data_Excel_Worsheet_CSQ = vAR_Config['FILE PATH']['TRAINING_DATA_EXCEL_WORKSHEET_CSQ']
print(vAR_Training_Data_Excel_Worsheet_CSQ)

vAR_Training_Data_CS = vAR_Config['FILE PATH']['TRAINING_DATA_CS']

vAR_Training_Data_Excel_Worsheet_CS = vAR_Config['FILE PATH']['TRAINING_DATA_EXCEL_WORKSHEET_CS']
print(vAR_Training_Data_Excel_Worsheet_CS)

vAR_feature_table = vAR_Config['FILE PATH']['FEATURE_TABLE']


vAR_Model_Outcome_LG = vAR_Config['FILE PATH']['MODEL_OUTCOME_LG']

vAR_Model_Outcome_XG = vAR_Config['FILE PATH']['MODEL_OUTCOME_XG']

Customer_label
CUSTOMER
customer_buying_pattern
Customer_Product_Price
Customer_Spending_Power
Customer_Service_Quality
Customer_Satisfaction

# STEP 1: IMPORT THE LIBRARIES

In [7]:
!pip install featuretools

Collecting featuretools
  Downloading https://files.pythonhosted.org/packages/53/0b/8ed26b0db2d09f447df2bd60ecd8293d7754c5f2682957530c3212567890/featuretools-0.23.1-py3-none-any.whl (296kB)
     |████████████████████████████████| 296kB 5.5MB/s
Requirement already satisfied: cloudpickle>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.3.0)
Requirement already satisfied: tqdm>=4.32.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (4.41.1)
Requirement already satisfied: dask[dataframe]>=2.12.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (2.12.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.19.5)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.4.1)
Requirement already satisfied: pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.1.5)
Requirement already satisfied: click>=7.0.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (7.1.2)
Requirement already satisfied: pyyaml>=3.12 in /usr/local/lib/python3.6/dist-packages (from featuretools) (3.13)
Requirement already satisfied: psutil>=5.4.8 in /usr/local/lib/python3.6/dist-packages (from featuretools) (5.4.8)
Collecting distributed>=2.12.0
  Downloading https://files.pythonhosted.org/packages/9d/21/25d2b3af5094cbe17e8eaacc7a55018ae673624782a955430521992ca4c2/distributed-2021.2.0-py3-none-any.whl (675kB)
     |████████████████████████████████| 675kB 5.7MB/s
Collecting fsspec>=0.6.0; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/ec/80/72ac0982cc833945fada4b76c52f0f65435ba4d53bc9317d1c70b5f7e7d5/fsspec-0.8.5-py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 6.7MB/s
Requirement already satisfied: toolz>=0.7.3; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]>=2.12.0->featuretools) (0.11.1)
Collecting partd>=0.3.10; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/44/e1/68dbe731c9c067655bff1eca5b7d40c20ca4b23fd5ec9f3d17e201a6f36b/partd-1.1.0-py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1->featuretools) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1->featuretools) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (53.0.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (2.0.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (1.0.2)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (1.7.0)
Requirement already satisfied: tornado>=5; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (5.1.1)
Collecting contextvars; python_version < "3.7"
  Downloading https://files.pythonhosted.org/packages/83/96/55b82d9f13763be9d672622e1b8106c85acb83edd7cc2fa5bc67cd9877e9/contextvars-2.4.tar.gz
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (2.3.0)
Collecting locket
  Downloading https://files.pythonhosted.org/packages/50/b8/e789e45b9b9c2db75e9d9e6ceb022c8d1d7e49b2c085ce8c05600f90a96b/locket-0.2.1-py2.py3-none-any.whl
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1->featuretools) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=2.12.0->featuretools) (1.0.1)
Collecting immutables>=0.9
  Downloading https://files.pythonhosted.org/packages/4a/52/e64a14a99c509cbdfe0405e9f076aef0331cb9548a3efa1d5bacd524978a/immutables-0.15-cp36-cp36m-manylinux1_x86_64.whl (100kB)
     |████████████████████████████████| 102kB 6.4MB/s
Building wheels for collected packages: contextvars
  Building wheel for contextvars (setup.py) ... done
  Created wheel for contextvars: filename=contextvars-2.4-cp36-none-any.whl size=7667 sha256=e84fed90639c14349fbd9292a6ea02eb42d71eac2d7bd81523a8439dcb67bb7c
  Stored in directory: /root/.cache/pip/wheels/a5/7d/68/1ebae2668bda2228686e3c1cf16f2c2384cea6e9334ad5f6de
Successfully built contextvars
ERROR: distributed 2021.2.0 has requirement cloudpickle>=1.5.0, but you'll have cloudpickle 1.3.0 which is incompatible.
ERROR: distributed 2021.2.0 has requirement dask>=2021.02.0, but you'll have dask 2.12.0 which is incompatible.
Installing collected packages: immutables, contextvars, distributed, featuretools, fsspec, locket, partd
  Found existing installation: distributed 1.25.3
    Uninstalling distributed-1.25.3:
      Successfully uninstalled distributed-1.25.3
Successfully installed contextvars-2.4 distributed-2021.2.0 featuretools-0.23.1 fsspec-0.8.5 immutables-0.15 locket-0.2.1 partd-1.1.0

In [8]:
import pandas as vAR_pd

import xgboost as vAR_xgb 

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

from xgboost import XGBClassifier

import featuretools as ft

# STEP 2: IMPORT THE TRAINING DATA

In [9]:
vAR_df1=vAR_pd.read_excel(vAR_Train_Data)

In [10]:
import warnings
warnings.filterwarnings('ignore')
vAR_df2 = vAR_pd.read_excel(vAR_Train_Data_CUS)
vAR_df3 = vAR_pd.read_excel(vAR_Training_Data_CBP)
vAR_df4 = vAR_pd.read_excel(vAR_Training_Data_CPP)
vAR_df5 = vAR_pd.read_excel(vAR_Training_Data_CSP)
vAR_df6 = vAR_pd.read_excel(vAR_Training_Data_CSQ)
vAR_df7 = vAR_pd.read_excel(vAR_Training_Data_CS)

# STEP 3(b): FEATURE SELECTION(USING FEATURE TOOLS)

In [11]:
#DEFINING THE ENTITIES
es = ft.EntitySet(id="CUSTOMER_CHURN")
es1 = es.entity_from_dataframe(entity_id = 'Customer', dataframe = vAR_df2, index='CustomerID')
es2 = es.entity_from_dataframe(entity_id = 'CustomerBuyingPattern', dataframe = vAR_df3, index='CBPID')
es3 = es.entity_from_dataframe(entity_id = 'CustomerProductPurchase', dataframe = vAR_df4, index='CPPID')
es4 = es.entity_from_dataframe(entity_id = 'CustomerSpendingPower', dataframe = vAR_df5, index = 'CSPID')
es5 = es.entity_from_dataframe(entity_id = 'CustomerServiceQuality', dataframe =vAR_df6, index = 'CSQID')
es6 = es.entity_from_dataframe(entity_id = 'CustomerSatisfaction', dataframe = vAR_df7, index = 'CSID')
es

Entityset: CUSTOMER_CHURN
  Entities:
    Customer [Rows: 2104, Columns: 4]
    CustomerBuyingPattern [Rows: 2104, Columns: 8]
    CustomerProductPurchase [Rows: 2104, Columns: 6]
    CustomerSpendingPower [Rows: 2104, Columns: 6]
    CustomerServiceQuality [Rows: 2104, Columns: 6]
    CustomerSatisfaction [Rows: 2104, Columns: 6]
  Relationships:
    No relationships

In [12]:
#DEFINING THE RELATIONSHIP
es.add_relationship(ft.Relationship(es['Customer']['CustomerID'],es['CustomerBuyingPattern']['CustomerID']))
es.add_relationship(ft.Relationship(es['Customer']['CustomerID'],es['CustomerProductPurchase']['CustomerID']))
es.add_relationship(ft.Relationship(es['Customer']['CustomerID'],es['CustomerSpendingPower']['CustomerID']))
es.add_relationship(ft.Relationship(es['Customer']['CustomerID'],es['CustomerServiceQuality']['CustomerID']))
es.add_relationship(ft.Relationship(es['Customer']['CustomerID'],es['CustomerSatisfaction']['CustomerID']))

Entityset: CUSTOMER_CHURN
  Entities:
    Customer [Rows: 2104, Columns: 4]
    CustomerBuyingPattern [Rows: 2104, Columns: 8]
    CustomerProductPurchase [Rows: 2104, Columns: 6]
    CustomerSpendingPower [Rows: 2104, Columns: 6]
    CustomerServiceQuality [Rows: 2104, Columns: 6]
    CustomerSatisfaction [Rows: 2104, Columns: 6]
  Relationships:
    CustomerBuyingPattern.CustomerID -> Customer.CustomerID
    CustomerProductPurchase.CustomerID -> Customer.CustomerID
    CustomerSpendingPower.CustomerID -> Customer.CustomerID
    CustomerServiceQuality.CustomerID -> Customer.CustomerID
    CustomerSatisfaction.CustomerID -> Customer.CustomerID

In [13]:
feature_matrix_Customer, feature_defs = ft.dfs(entityset=es, target_entity="Customer")

In [14]:
feature_matrix_Customer.head()

           Customer Code  ... SUM(CustomerSatisfaction.last year calls)
CustomerID                ...
18001              CUST1  ...                                       0.0
18002              CUST2  ...                                      58.0
18003              CUST3  ...                                      67.0
18004              CUST4  ...                                     106.0
18005              CUST5  ...                                       2.0

[5 rows x 116 columns]

In [15]:
 feature_matrix_Customer, feature_defs = ft.dfs(entityset=es, target_entity="Customer", agg_primitives=["SUM"], max_depth=2)

In [16]:
 feature_matrix_Customer.head()

           Customer Code  ... SUM(CustomerSatisfaction.last year calls)
CustomerID                ...
18001              CUST1  ...                                       0.0
18002              CUST2  ...                                      58.0
18003              CUST3  ...                                      67.0
18004              CUST4  ...                                     106.0
18005              CUST5  ...                                       2.0

[5 rows x 19 columns]

In [17]:
feature_matrix_Customer.iloc[:,3:].head()

            SUM(CustomerBuyingPattern.Average yearly purchase)  ...  SUM(CustomerSatisfaction.last year calls)
CustomerID                                                      ...
18001                                                   370.0   ...                                        0.0
18002                                                   353.0   ...                                       58.0
18003                                                   892.0   ...                                       67.0
18004                                                     0.0   ...                                      106.0
18005                                                     0.0   ...                                        2.0

[5 rows x 16 columns]

In [18]:
vAR_Featuresft =feature_matrix_Customer.iloc[:,3:]

In [19]:
vAR_Featuresft.head()

            SUM(CustomerBuyingPattern.Average yearly purchase)  ...  SUM(CustomerSatisfaction.last year calls)
CustomerID                                                      ...
18001                                                   370.0   ...                                        0.0
18002                                                   353.0   ...                                       58.0
18003                                                   892.0   ...                                       67.0
18004                                                     0.0   ...                                      106.0
18005                                                     0.0   ...                                        2.0

[5 rows x 16 columns]

# DEFINING THE LABELS

In [20]:
vAR_label = vAR_df1.iloc[:,4:]

In [21]:
vAR_Featuresft=vAR_Featuresft.dropna()

In [22]:
vAR_Featuresft=vAR_Featuresft.astype(int)

In [23]:
vAR_Featuresft.to_excel("/content/gdrive/MyDrive/FEATURE TOOLS FILES/FEATUREFT1.xlsx")

# STEP 4: IMPORT THE MODEL

In [24]:
vAR_X_TRAIN, vAR_X_TEST, vAR_Y_TRAIN, vAR_Y_TEST = train_test_split(vAR_Featuresft, vAR_label, test_size=0.20, random_state=0)

vAR_Model1 = LogisticRegression()

vAR_Model2 = XGBClassifier(eta=0.01,gamma=10)

In [25]:
vAR_Model1.fit(vAR_X_TRAIN,vAR_Y_TRAIN)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
vAR_Model2.fit(vAR_X_TRAIN,vAR_Y_TRAIN)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, eta=0.01, gamma=10,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [27]:
vAR_Model1.predict(vAR_X_TEST)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0.,
       0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0.,
       0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [28]:
vAR_Labels_predLG = vAR_Model1.predict(vAR_X_TEST)

In [29]:
vAR_model1_test_df=vAR_pd.DataFrame(vAR_Labels_predLG)

In [30]:
vAR_model1_test_df

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
416  0.0
417  0.0
418  0.0
419  0.0
420  0.0

[421 rows x 1 columns]

In [32]:
vAR_Model2.predict(vAR_X_TEST)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [33]:
vAR_Labels_predXG = vAR_Model2.predict(vAR_X_TEST)

In [34]:
vAR_model2_test_df=vAR_pd.DataFrame(vAR_Labels_predXG)

In [35]:
vAR_model2_test_df

       0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
..   ...
416  0.0
417  0.0
418  0.0
419  0.0
420  0.0

[421 rows x 1 columns]